html, body {
	width: 100%;
	height: 100%;
    margin: auto;
    overflow: hidden;
}

h1 {
	color: #ffffff;
	font-family: 'Actor', sans-serif;
	font-size: 50px;
}

p {
	padding: 5%;
	margin-right: 20px;
}

img {
	height: 100%;
	width: 100%;
}

.message1 {
	display: none;
	position: absolute;
	top: 20%;
	left: 5%;
}

.message2 {
	display: none;
	position: absolute;
	top: 60%;
	left: 5%;
	cursor: pointer;
}

#welcome {
	width: 100%;
	height: 100%;
	background: #19d8e6;
	margin: auto;
    overflow: hidden;
}

#main {
	width: 100%;
	height: 100%;
	background: #19d8e6;
	margin: auto;
    overflow: hidden;
}

#main img {
	width: 800px;
	height: auto;
}
